{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="row">
 	<div class="col-xs-2 col-md-4">
  	</div>
		
  	<div class="col-xs-8 col-md-4 text-center">
  		<br><br>
		<h1>{% trans "Sign Out" %}</h1>
		<p>{% trans 'Are you sure you want to sign out?' %}</p>
		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <div class="row">
		  	<br><br>
		  	<button class="form-control" type="submit">{% trans 'Sign Out' %}</button>
		  </div>

		</form>
	</div>

	<div class="col-xs-2 col-md-4">
  	</div>
</div>


{% endblock %}
